.status-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 15px;
    overflow: hidden;
  }

  .status-bar {
    width: 0;
    height: 20px;
    background-color: #4caf50;
  }

